/* Nav Bar */

.logo {
  height: 70px;
  width: auto;
  cursor: pointer;
}

.header {
  box-sizing: border-box;
  padding: 0;
  background-color: #fcfadf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.nav__links {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.home,
.dropdown span,
.contact {
  font-size: 25px;
}
.home a,
.contact a {
  text-decoration: none;
  color: black;
}
.nav__links li {
  display: inline-block;
  padding: 0px 50px;
}
.nav__links a {
  transition: all 0.3s ease 0s;
}

.right__icons {
  float: right;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}
.dropdown:hover .dropbtn {
  background-color: #fcfadf;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* From the internet */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
}

.heading {
  padding: 1em 0;
  border-bottom: 5px solid #c41f46;
}

.heading h1 {
  font-size: 2em;
  float: left;
}

.heading a.continue:link,
.heading a.continue:visited {
  text-decoration: none;
  letter-spacing: -0.015em;
  font-size: 0.75em;
  padding: 1em;
  color: #f6eb16;
  background: #c41f46;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.heading a.continue:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.heading a.continue:hover:after,
.heading a.continue:focus:after,
.heading a.continue:active:after {
  right: -10px;
}

.tableHead {
  display: table;
  width: 100%;
  font-size: 0.75em;
}

.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}

.tableHead li.prodHeader {
  text-align: left;
}

.cart {
  padding: 1em 0;
}

.cart .items {
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 1.5em;
  border-bottom: 1px solid #c41f46;
}

.cart .items.even {
  background: #fafafa;
}

.cart .items .infoWrap {
  display: table;
  width: 100%;
}

.cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}

.cart .items .cartSection h3 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.cart .items .cartSection p {
  display: inline-block;
  font-size: 1.5em;
  color: black;
}

.cart .items .cartSection p .quantity {
  font-weight: bold;
  color: #333;
}

.cart .items .cartSection .itemImg {
  width: 5em;
  float: left;
}

.cart .items .cartSection.qtyWrap,
.cart .items .cartSection.prodTotal {
  text-align: center;
}

.cart .items .cartSection.qtyWrap p,
.cart .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 1.5em;
}

.cart .items .cartSection input.qty {
  width: 3em;
  text-align: center;
  font-size: 1.4em;
  padding: 0.25em;
  margin: 1em 0.5em 0 0;
}

.cart .items .cartSection .itemImg {
  width: 9em;
  display: inline;
  padding-right: 1em;
}

a.remove {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: 0.5em;
  font-size: 0.75em;
  display: inline-block;
  border-radius: 100%;
  line-height: 0.85;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a.remove:hover {
  background: #f30;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  letter-spacing: -0.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #f6eb16;
  background: #c41f46;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.btn:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.btn:hover:after,
.btn:focus:after,
.btn:active:after {
  right: -10px;
}
/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 35%;
}

.subtotal .totalRow {
  padding: 0.5em;
  text-align: right;
}

.subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}

.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}

.subtotal .totalRow .label {
  font-size: 1em;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.subtotal .totalRow .value {
  letter-spacing: -0.025em;
  width: 45%;
  font-weight: 700;
}

@media only screen and (max-width: 39.375em) {
  .wrap {
    width: 98%;
    padding: 2% 0;
  }
  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
  }
  .heading {
    padding: 1em;
    font-size: 90%;
  }
  .cart .items .cartSection {
    width: 90%;
    display: block;
    float: left;
  }
  .cart .items .cartSection.qtyWrap {
    width: 10%;
    text-align: center;
    padding: 0.5em 0;
    float: right;
  }
  .cart .items .cartSection.qtyWrap:before {
    content: "QTY";
    display: block;
    padding: 0.25em;
    font-size: 1em;
  }
  .cart .items .cartSection.prodTotal,
  .cart .items .cartSection.removeWrap {
    display: none;
  }
  .cart .items .cartSection .itemImg {
    width: 25%;
  }
  .subtotal {
    width: 100%;
  }
  a.btn.continue {
    width: 100%;
    text-align: center;
  }
}

/* Footer */

.footer1 {
  box-sizing: border-box;
  background: #c41f46;
}
footer {
  height: auto;
  width: 100vw;
  padding-top: 40px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 20px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
  text-decoration: none;
}
.socials a {
  text-decoration: none;
  color: wheat;
}
.socials a i {
  font-size: 30px;
}
